flask
flask-socketio
eventlet
setuptools
twine
wheel
pytest
pytest-runner
beautifulsoup4
lxml

counterfit-connection
counterfit-shims-grove
counterfit-shims-seeed-python-si114x
counterfit-shims-seeed-python-dht
counterfit-shims-serial
counterfit-shims-rpi-vl53l0x
counterfit-shims-picamera


